:myColors {
    --cell-color:#bbbbbb;
    --input-color:#aaaaaa;
    --text-color:#000000;
}

body {
    font-family: sans-serif;
    background-color:#888888;
    margin: 10px;
    height: 100%;
    width: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    border: dashed;
}

.reactMade {
  background-color:#bbbbbb;
  border: solid;
  width:fit-content;
  padding-right: 10px;
  padding-left: 10px;
  height:100%;
}

.myApp{
  border: solid;
  border-color: purple;
  margin: 10px;
  padding: 10px;
  width: fit-content;
}

